/.vscode
/11092025.txt.txt
/BocadilloJamonQueso.js
/Ejercicio 4 Ev Inicial
/EjercicioArray.js
/EjercicioExcepEmail.js
/EjercicioFunciones.js
/EjercicioMap.js
/EjercicioObjetos.js
/EjercicioPokemon.js
/EjercicioPokemonsObjetos.js
/Ejercicioestructuradedatos.js
/Ejercicios ejemplos
/EjerciciosString.js
/Evaluación Inicial 2DAWCC - 10_09_2025.pdf
/Pokedex
/Recursos JS.md
/ej7.js
/pikachuposts.js
/post.js
/pruebas.js